.parent-div {
  margin: 10px 30px 0px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.img-name-container {
  margin: 0px 0px 0px 10px;
  display: flex;
}

.text-container {
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.hi-container {
  color: #222;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name-container {
  color: #7b7b7b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.assist-container {
  width: auto;
  margin: 0px 10px 0px 10px;
  text-align: center; /* Center the input field and icon horizontally */
}

.input-wrapper {
  display: inline-block;
  position: relative;
}

.input-field {
  border-radius: 36px;
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  padding: 10px;
  padding-right: 30px; /* Add right padding for the icon */
  width: 100%;
}
.input-field:focus {
  border: none;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: -30px; /* Adjust the right position of the icon */
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}
.outer-container {
  display: flex;
  height: auto;
}

.collaborators {
  margin: 10px 10px 0px 0px;
  display: flex;
}

.colab-head {
  color: #474747;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.user-info {
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-end;
}

.user-name {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: right;
}

.user-email {
  color: #8d8d8d;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: right;
}

.user-avatar {
  width: 52px;
  height: 52px;
  border-radius: 16px;
  border: 1px solid #f3f3f3;
  background: url("D:\frontend\src\Assets\NavbarAssets\users\Rectangle 7.png"),
    lightgray 0px 0.75px / 100% 125% no-repeat;
}

.text-info-holder {
  margin-right: 10px;
}

.child-2-container{
  display: flex;
  width: -webkit-fill-available;
  justify-content: flex-end;
}


.child-1-container{
  display: contents;
}