/* SubSearch.css */

.sub-search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  
  .input-field {
    border-radius: 36px;
    background: #f9f9f9;
    height: 40px;
    color: #818181;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
  }
  
  .input-field-focus {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  