.Main-sidebar {
  display: flex;
}
.parent-side-bar {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: flex-start; */
  z-index: 1;
  background-color: #f9f9f9;
}
.container-for-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: auto;
}
.img-prop {
  margin: 10px 0px 10px 0px;
  height: auto;
  overflow: visible;
}

.container-for-imgs img {
  height: 44px;
}

.img-prop:hover img {
  transform: scale(1.1);
}

.container-for-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.logout-container {
  margin: 0px 0px 30px 0px;
  display: contents;
  color: aqua;
}

.Main-sidebar {
  display: flex;
}

.right-slider-container {
  transition: width 0.5 ease-in-out, opacity 0.5s ease-in-out;
}

.Main-sidebar.closed {
  width: 0;
  opacity: 0;
}

.right-slider-container.closed {
  width: 0;
  opacity: 0;
}

#logout-btn {
  margin: 10px 0px 30px 5px;
}
