.Main-sidebar {
  display: flex;
}
.parent-side-bar {
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: flex-start; */
  z-index: 1;
  background-color: #f9f9f9;
}
.container-for-imgs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  width: auto;
}
.img-prop {
  margin: 10px 0px 10px 0px;
  height: auto;
  overflow: visible;
}

.container-for-imgs img {
  height: 44px;
}

.img-prop:hover img {
  transform: scale(1.1);
}

.container-for-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.logout-container {
  margin: 0px 0px 30px 0px;
  display: contents;
  color: aqua;
}

.Main-sidebar {
  display: flex;
}

.right-slider-container {
  transition: width 0.5 ease-in-out, opacity 0.5s ease-in-out;
}

.Main-sidebar.closed {
  width: 0;
  opacity: 0;
}

.right-slider-container.closed {
  width: 0;
  opacity: 0;
}

#logout-btn {
  margin: 10px 0px 30px 5px;
}
.burger {
  width: 42px;
  height: 40px;
  background-color: rgba(243, 243, 243, 1);
  border-radius: 16px;
  border: 1px;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 45px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  gap: 20px;
}

.burger {
  display: block;
}

/* Media query to show the burger icon for screens 768px and above */
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .Main-sidebar {
    display: none;
  }
}

.btn-container {
  white-space: nowrap;
}
.re-gre-cont {
  white-space: nowrap;
}

.title-class {
  white-space: nowrap;
}
